<div class="divider bottom"></div>

<div class="credits">
  <div class="entry">Data is from <a href="http://cdec.water.ca.gov/" target="_blank">California Department of Water Resources.</a></div>
  <div class="entry">A rain year, or water year, is a continuous 12 month period which includes a complete annual hydrologic cycle. It runs from October 1 through September 30 and is designated by the year in which it ends.</div>
  <div class="entry">Inflow and outflow are rates of flow measured in cfs, or cubic feet per second. One "cfs" is equal to 7.48 gallons of water flowing each second. We use measurements of 1,000 cfs, or kcfs, at times.</div>
  <div class="entry">A TAF, or Thousand Acre-Foot, is the volume of water required to cover 1,000 acres of land to the depth of 1 foot. One AF, the volume of water required to cover 1 acre of land to the depth of 1 foot, is equal to 325,851 gallons.</div>
</div>

<div class="divider bottom"></div>

<div class="dont-miss">
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/california-seafood-collapse/" target="_blank">
      <img src="../assets/social/dont-miss-seafood.jpg"></img>
    </a>
      <div class="small">Seafood's new normal</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/bayarea/place/article/San-Francisco-has-wealth-of-rooftop-public-9321535.php" target="_blank">
      <img src="http://ww1.hdnux.com/photos/53/01/62/11279512/4/1200x760.jpg"></img>
    </a>
      <div class="small">Finding SF's public rooftops</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://www.sfchronicle.com/bayarea/article/An-ode-to-the-Transamerica-Pyramid-as-a-new-9887132.php" target="_blank">
      <img src="../assets/social/dont-miss-transamerica.jpg"></img>
    </a>
      <div class="small">An ode to SF's Pyramid</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/lucas-art/" target="_blank">
      <img src="http://ww2.hdnux.com/photos/51/41/01/10883149/4/1200x760.jpg"></img>
    </a>
      <div class="small">First look: Lucas Museum</div>
    </div>
  </div>
</div>


<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
