@blue: #6790B7;

@yr2010: #393b79;
@yr2011: #5254a3;
@yr2012: #6b6ecf;
@yr2013: #9c9ede;
@yr2014: #637939;
@yr2015: #8ca252;
@yr2016: #b5cf6b;
@yr2017: red;

.bar_tooltip, .tooltip {
  position: absolute;
  font-size: 14px;
  font-family: @block-graphics;
  padding: 10px;
  border-radius: 3px;
  background: lighten(@light-gray,20%);
  border: 1px @dark-gray solid;
  &:empty {
    display: none;
  }
}

// .controls {
//   display: none !important;
// }

.dont-miss {
  max-width: 1000px;
  margin: auto;
}

.inline-image {
  position: relative;
  max-width: 100%;
  width: 100%;
  // opacity: 0.5;
  .overlay {
    opacity: 1.0;
    position: absolute;
    top: 0;
    left: 0;
    // &:empty {
    //   display: none;
    // }
  }
}

.reservoir-info, .snow-info {
  display: none;
  font-family: @med-graphics;
  font-size: 18px;
  color: @dark-gray;
  &.active {
    display: block;
    text-align: center;
  }
}
.reservoir-info {
  padding-top: 20px;
  @media @mobile {
    padding-top: 10px;
  }
}
.snow-info {
  padding-top: 30px;
  @media @mobile {
    padding-top: 10px;
  }
  .bold {
    font-size: 30px;
    font-family: @bold-graphics;
  }
  .unbold {
    font-family: @block-graphics;
  }
}

ol {
  // width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  @media @mobile {
    margin-top: 0;
  }
}
li{
  float: center;
  list-style: circle;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height:15px;
  cursor: pointer;
  border: 1px solid @dark-gray;
  &.active {
    background: @dark-gray;
  }
  @media @mobile {
    margin: 0;
  }
}

.legend-container {
  display: none;
  &.active {
    .display-flex;
    .flex-wrap(wrap);
    justify-content: center;
  }
  padding: 20px 0;
  padding-left: 7%;
  font-size: 12px;
  font-family: @block-graphics;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  .element {
    // width: 16%;
    .flex(0 0 10%);
    &.bold {
      font-size: 15px;
      font-family: @med-graphics;
    }
    @media @mobile {
      .flex(0 0 25%);
    }
    &.inactive {
      display: none;
    }

    &.long {
      .flex(0 0 25%);
      font-size: 16px;
      @media @mobile {
        .flex(0 0 100%);
        font-size: 14px;
      }
    }
    // width: 16%;
  }
  @media @mobile {
    margin: 15px auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .swath {
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 2px;
    &.long {
      height: 18px;
    }
  }
  .swath2010 {background: @yr2010}
  .swath2011 {background: @yr2011}
  .swath2012 {background: @yr2012}
  .swath2013 {background: @yr2013}
  .swath2014 {background: @yr2014}
  .swath2015 {background: @yr2015}
  .swath2016 {background: @yr2016}
  .swath2017 {background: @yr2017}
  .swathreservoir {background: @blue}
  .swathoutflow {background: @yr2017}
  .swathtotal {background: @dark-gray}
  .swathfilled {background: @blue}
  .legend-text {
    text-align: left;
    width: 60px;
    &.long {
      width: 320px;
      @media @mobile {
        width: 250px;
      }
    }
    padding-left: 20px;
    vertical-align: text-top;
  }
}

.chart-top {
  font-size: 20px;
  text-align: center;
  font-family: @med-graphics;
  padding-top: 30px;
  .sub-hed {
    font-size: 18px;
    // font-style: italic;
    width: 80%;
    max-width: 500px;
    margin:auto;
    font-family: @block-graphics;
    padding-top: 15px;
  }
  &:empty {
    display: none;
  }
  @media @mobile {
    padding: 10px;
    font-size: 16px;
  }
}

.graphic-text {
  padding: 30px 0;
  font-family: @block-graphics;
  @media @mobile {
    padding: 10px 0;
  }
  .bold {
    font-family: @bold-graphics;
  }
}

.chart-container {
  position: relative;
  // height: 650px;
  .display-flex;
  .flex-wrap(wrap);
  justify-content: center;
  position: relative;
  .chart-info {
    position: absolute;
    top: 20px;
    right: 0;
    width: 50%;
    font-size: 15px;
    .bold {
      font-family: @bold-graphics;
      font-size: 17px;
    }
  }
  .chart-text {
    width: 80%;
    padding: 5%;
    background: lighten(@blue,10%);
    align-self: center;
    .bold {
      font-size: 50px;
      font-family: @bold-graphics;
      // color: @blue;
    }
    &:empty {
      display: none;
    }
  }
  .inline-image {
    // height: 500px;
    img {
      width: 100%;
      // height: auto;
      // overflow: auto;
    }
  }
}

.annotation {
  stroke-width: 1 !important;
}

path {
    // stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.logo-link {
  padding-top: 9px;
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 2px @dark-gray solid;
  height: 2px;
  &.bottom {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px @dark-gray solid;
    @media @mobile {
      margin-top: 20px;
    }
  }
}

#chart, #reservoir-chart {
  path {
    stroke-width: 2;
    opacity: 0.8;
  }
  .line-hover {
    opacity: 1;
    stroke-width: 3.5;
  }
}

body {
  margin:auto !important;
  font-family: @block-graphics;
}

svg {
  margin: auto;
  pointer-events: all;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.outer {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

.voronoi {
   path {
    fill: none;
    pointer-events: all;
  }
}

.chart-container, .chart-container {
  position: relative;
}

.inflow-info, .outflow-info {
  text-align: center;
  font-family: @bold-graphics;
  position: absolute;
  left: 70%;
  top: 20px;
}

.mobile-instruction, .desktop-instruction {
  font-size: 14px;
  @media @mobile {
    font-size: 13px;
  }
}

.mobile-instruction {
  display: none;
  @media @mobile {
    padding-top: 5px;
    display: block;
  }
}
.desktop-instruction {
  padding-top: 10px;
  display: block;
  @media @mobile {
    display: none;
  }
}

.chatter {
  font-size: 18px;
  @media @mobile {
    margin-bottom: 0;
    padding: 10px;
  }
}

.source {
  padding-top: 5px;
  text-align: center;
  padding: 20px 0;
  @media @mobile {
    padding: 20px 10px;
  }
}


.hed {
  font-family: @med-graphics;
  padding-top: 50px;
  font-size: 30px;
  @media @mobile {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.byline {
  text-align: center;
  font-style: normal;
  font-size: 14px;
}

.controls {
  padding-top: 10px;
  text-align: center;
  display: block;
}
#forward, #back {
  border-radius: 7px;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  color: @dark-gray;
  background: @light-gray;
  padding: 2px 10px;
  line-height: 1;
  &:hover {
    background: @dark-gray;
    color: white;
  }

  &.selected {
    color: @black;
    cursor: default;
    background: @dark-gray;
  }
}
