<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

     <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

      <%= t.include("partials/_nav.html") %>

      <div class="outer">

        <div class="title">
          <div class="hed">What happened at Lake Oroville?</div>
          <div class="byline">By <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, <a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>, and <a href="mailto:kalexander@sfchronicle.com">Kurtis Alexander</a></div>
          <div class="chatter">
            A wet winter brought to light problems lurking at the nation’s tallest dam.
          </div>
        </div>

        <div class="credits" id="credits-container">
        <div class="divider bottom"></div>
          <h2>Credits</h2>
          <div class="entry">Developers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
          <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
          <div class="entry">Graphic designer:  <br>John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
          <div class="entry">Reporter:  <br>Kurtis Alexander &bull; <a href="mailto:kalexander@sfchronicle.com">kalexander@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kurtisalexander" target="_blank">@kurtisalexander</a></div>
          <div class="entry">Editors:  <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
          <br>Demian Bulwa  &bull; <a href="mailto:dbulwa@sfchronicle.com">dbulwa@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/demianbulwa" target="_blank">@demianbulwa</a>
          <br>Danielle Mollette-Parks  &bull; <a href="mailto:DMollette-Parks@sfchronicle.com">DMollette-Parks@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/daniellemparks" target="_blank">@daniellemparks</a>
          <br>Nicole Frugé  &bull; <a href="mailto:NFruge@sfchronicle.com">nfruge@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/PhotoFruge" target="_blank">@PhotoFruge</a></div>
          <div class="divider bottom"></div>

        <div class="credits">
          <h2>About the data</h2>
          <div class="entry">Data is from <a href="http://cdec.water.ca.gov/" target="_blank">California Department of Water Resources.</a></div>
          <div class="entry">A rain year, or water year, is a continuous 12 month period which includes a complete annual hydrologic cycle. It runs from October 1 through September 30 and is designated by the year in which it ends.</div>
          <div class="entry">Inflow and outflow are rates of flow measured in cfs, or cubic feet per second. One "cfs" is equal to 7.48 gallons of water flowing each second. We use measurements of 1,000 cfs, or kcfs, at times.</div>
          <div class="entry">A TAF, or Thousand Acre-Foot, is the volume of water required to cover 1,000 acres of land to the depth of 1 foot. One AF, the volume of water required to cover 1 acre of land to the depth of 1 foot, is equal to 325,851 gallons.</div>
        </div>

        <div class="divider bottom"></div>


        </div>

        <div id="charts">

        <div class="chart-top"></div>
        <div class="graphic-top"></div>

        <div class="snow-info" id="snow-info">Up-to-date snowpack level:<div id="snowpack-num"></div></div>

        <div class="reservoir-info" id="reservoir-info">Up-to-date reservoir levels:</div>

        <div class="legend-container active" id="legend-container-final">
          <div class="element long"><div class="swath long swathtotal"><div class="legend-text long">Total reservoir capacity</div></div></div>
          <div class="element long"><div class="swath long swathfilled"><div class="legend-text long">Current reservoir storage</div></div></div>
        </div>

        <div class="chart-container">
          <div class="chart-text"></div>
          <div class="chart-image"></div>
          <div class="chart-info"></div>
          <div id="chart" class="chart"></div>
          <div class="legend-container" id="legend-container-overlay">
          <div class="element long"><div class="swath long swathoutflow"><div class="legend-text long">2017 Outflow (kcfs)</div></div></div>
          <div class="element long"><div class="swath long swathreservoir"><div class="legend-text long">Reservoir level (% full)</div></div></div>
          </div>
          <div id="reservoir-chart"></div>
        </div>

        <div class="legend-container active" id="legend-container">
          <div class="element bold">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element inactive" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>
      </div>
      <div class="progress-bar">
      <ol>
        <% json.Slideshow.forEach(function(t,tdx) { %>
          <% if (tdx == 0){ %>
             <li class="progress active" id="progress<%=tdx%>"></li>
          <% } else { %>
             <li id="progress<%=tdx%>" class="progress"></li>
          <% } %>
        <% }); %>
      </ol>
    </div>
    </div>

    <div class="controls">
      <div id="back"><i class="fa fa-caret-left"></i></div>
      <div id="forward"><i class="fa fa-caret-right"></i></div>
    </div>



    <script>
      var waterData = <%= JSON.stringify(json.FlowData) %>;
      var slideData = <%= JSON.stringify(json.Slideshow) %>;
      var reservoirData = <%= JSON.stringify(json.ReservoirHeight) %>;
      var rainData = <%= JSON.stringify(json.OrovilleRain) %>;
      console.log(rainData);
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
