<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %> -->

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

      <%= t.include("partials/_nav.html") %>

      <div class="outer">
        <div class="hed">What happened in Oroville?</div>
        <div class="byline">By Emma O'Neill and John Blanchard</div>

        <div class="chatter">
          After years of drought, California is having extraordinary water and snow accumulation this winter. See how the Oroville dam came near the brink of crisis.
        </div>

        <div class="progress-bar">
          <ol>
            <% json.Slideshow.forEach(function(t,tdx) { %>
              <% if (tdx == 0){ %>
                 <li class="active" id="progress<%=tdx%>"></li>
              <% } else { %>
                 <li id="progress<%=tdx%>"></li>
              <% } %>
            <% }); %>
          </ol>
        </div>

        <div class="controls">
          <div id="back"><i class="fa fa-caret-left"></i></div>
          <div id="forward"><i class="fa fa-caret-right"></i></div>
        </div>

        <div class="legend-container active" id="legend-container-overlay">
          <div class="element long"><div class="swath swathoutflow"><div class="legend-text long">2017 Outflow (kcfs)</div></div></div>
          <div class="element long"><div class="swath swathreservoir"><div class="legend-text long">Space remaining in reservoir (%)</div></div></div>
        </div>

        <div class="chart-top"></div>

        <div class="chart-container">
          <div class="chart-text"></div>
          <div class="chart-image"></div>
          <div class="chart-info"></div>
          <div id="chart" class="chart"></div>
          <div id="reservoir-chart"></div>
        </div>

        <div class="legend-container active" id="legend-container">
          <div class="element">Years: </div>
          <div class="element"><div class="swath swath2010"><div class="legend-text">2010</div></div></div>
          <div class="element"><div class="swath swath2011"><div class="legend-text">2011</div></div></div>
          <div class="element"><div class="swath swath2012"><div class="legend-text">2012</div></div></div>
          <div class="element"><div class="swath swath2013"><div class="legend-text">2013</div></div></div>
          <div class="element"><div class="swath swath2014"><div class="legend-text">2014</div></div></div>
          <div class="element"><div class="swath swath2015"><div class="legend-text">2015</div></div></div>
          <div class="element"><div class="swath swath2016"><div class="legend-text">2016</div></div></div>
          <div class="element inactive" id="element2017"><div class="swath swath2017"><div class="legend-text">2017</div></div></div>
        </div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var waterData = <%= JSON.stringify(json.FlowData) %>;
      var slideData = <%= JSON.stringify(json.Slideshow) %>;
      var reservoirData = <%= JSON.stringify(json.ReservoirHeight) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
